@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Kiwi+Maru&display=swap");

.front-page {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
    "lh-up1 center1 rh-up1"
    "lh-up1 center1 rh-up1 "
    "lh-up2 center2 rh-up2 ";
  background-image: url("https://images.unsplash.com/photo-1574267432553-4b4628081c31?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1778&q=80");
  background-repeat: no-repeat;
  background-size: center;
  min-height: 900px;
  width: 100%;
}

.front-movie-trailer-box {
  grid-area: center1;
  font-family: Kiwi Maru;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.76);
}

#front-movie-trailer {
  max-width: 600px;
  max-height: 350px;
  width: 600px;
  height: 350px;
  border-style: none;
}

.front-movie-header {
  text-align: center;
}
.candy-display {
  display: flex;
  grid-area: lh-up1;
  background-color: rgba(0, 0, 0, 0.76);
  padding: 0 10px 10px 10px;
}

.candy-bar {
  display: flex;
  flex-direction: column;
  grid-area: lh-up1;
}

#candy-text {
  text-align: center;
}

.front-footer {
  grid-area: center;
  opacity: 0.3;
  width: 100%;
}

.moving-candy {
  display: flex;

  grid-area: lh-up1;
  flex-direction: column;
  margin-left: 35px;
}

.front-moving-bears {
  animation: mymove 7s;
  position: relative;
}
#front-gummibears {
  max-width: 75px;
  border-radius: 45%;
  animation: candy 7s linear 0s;
}

#front-coca-cola {
  margin: -2px 0;
  max-width: 75px;
  border-radius: 45%;
  animation: candy 5s linear 0s;
}
.front-moving-popcorns {
  animation: mymove1 7s;
  position: relative;
}

#front-popcorn {
  max-width: 75px;
  border-radius: 45%;
  animation: candy 6s linear 0s;
}

.front-shows {
  display: inline-block;
  text-align: center;
  grid-area: rh-up1;
  background-color: rgba(0, 0, 0, 0.76);
  padding: 0 15px;
  min-height: 200px;
  height: fit-content;
}
.front-daily-shows p {
  width: 100%;
  margin: 0;
  font-family: "Kiwi Maru";
}

.bulb {
  font-family: "GB Garmond";
  font-size: 25px;
  display: inline-block;
}

.bulb1 {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0 10px;
  border-radius: 50% 4px;
  transform: rotate(-45deg);
}

.bulb:nth-child(odd) {
  opacity: 1;
  animation: bulb-pulse-1 0.8s linear 0s infinite alternate;
}
.bulb:nth-child(even) {
  opacity: 0.1;
  animation: bulb-pulse-2 0.8s linear 0s infinite alternate;
}
@keyframes bulb-pulse-1 {
  from {
    opacity: 0.7;
  }
  to {
    box-shadow: none;
    opacity: 0.1;
  }
}
@keyframes bulb-pulse-2 {
  from {
    opacity: 0.1;
  }
  to {
    box-shadow: none;
    opacity: 0.7;
  }
}
@keyframes mymove {
  from {
    left: 150px;
  }
  to {
    left: 0px;
  }
}
@keyframes mymove1 {
  from {
    right: 150px;
  }
  to {
    right: 0px;
  }
}
@keyframes candy {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
