@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Kiwi+Maru&display=swap");

.front-page {
  position: relative;
  justify-items: center;
  align-items: center;
  min-height: 90vh;
  min-width: 90vw;
}

.front-filter{
  position: absolute;
  top: 0;
  height: 90vh;
  width: 90vw;
  background-image: url('../images/brickwall.jfif');
  opacity: 0.5;
  background-size: cover;
  z-index: 1;
}

.front-page iframe{
  margin-top: -10vh;
  min-height: 80vh;
  min-width: 90vw;
  z-index: -3;
  border: none;
  pointer-events: none;
}

#front-movie-trailer {
  z-index: -3;
  border-style: none;
  background-color: rgba(0, 0, 0, 0.76);
}

.front-movie-header {
  text-align: center;
  font-size: 17px;
}

.front-movie-title{
  text-align: center;
}

.candy-display {
  text-align: center;
  display: flex;
 
}

.candy-bar {
  flex-direction: column;

}

.front-footer {
  opacity: 0.3;
  width: 100%;
}

.moving-candy {
  position: absolute;
  margin-top: -100px;;
  flex-direction: column;
  margin-left: 35px;
}

.front-moving-bears {
  animation: mymove 7s;
  position: relative;
}
#front-gummibears {
  max-width: 75px;
  border-radius: 45%;
  animation: candy 7s linear 0s;
}

#front-coca-cola {
  margin: -2px 0;
  max-width: 75px;
  border-radius: 45%;
  animation: candy 5s linear 0s;
}
.front-moving-popcorns {
  animation: mymove1 7s;
  position: relative;
}

#front-popcorn {
  max-width: 75px;
  border-radius: 45%;
  animation: candy 6s linear 0s;
}

.front-shows {
  display: flex;
  justify-content: space-around;
  position: absolute;
  background-color: black;
  height: 40vh;
  width: 90vw;
  margin-top: -10vh;
  text-align: center;
  opacity: 1;
  z-index: 2;
}

.showinfo{
  display: inline-block;
  padding: 5%;
  height: 15vh;
}

.bulb {
  font-family: "GB Garmond";
  font-size: 25px;
  display: inline-block;
}

.bulb1 {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0 10px;
  border-radius: 50% 4px;
  transform: rotate(-45deg);
}

.bulb:nth-child(odd) {
  opacity: 1;
  animation: bulb-pulse-1 0.8s linear 0s infinite alternate;
}
.bulb:nth-child(even) {
  opacity: 0.1;
  animation: bulb-pulse-2 0.8s linear 0s infinite alternate;
}

@keyframes bulb-pulse-1 {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 0.1;
  }
}
@keyframes bulb-pulse-2 {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 0.7;
  }
}
@keyframes mymove {
  from {
    left: 150px;
  }
  to {
    left: 0px;
  }
}
@keyframes mymove1 {
  from {
    right: 150px;
  }
  to {
    right: 0px;
  }
}
@keyframes candy {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
