.login-page {
  text-align: center;
  background-color: rgb(196, 192, 192);
  height: 450px;
  width: 400px;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 10px 3px rgb(224, 0, 0);
  margin-bottom: 10px;
}
.form-login {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  row-gap: 20px;
  padding: 20px;
  justify-items: center;
  height: fit-content;
}
.form-login h1 {
  color: rgb(14, 12, 12);
  margin-bottom: 40px;
  font-size: 35px;
}
.button-login-and-signup {
  background-color: rgb(224, 0, 0);
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font-size: 18px;
  width: auto;
  padding: 0.7rem 1.7rem;
}

#signUpButton {
  padding: 0.7rem 2rem;
  margin-bottom: 20px;
}

#redirect-to-sign-up-page-button {
  padding: 0.3rem 0.7rem;
}

.form-login input {
  font-size: 18px;
  border-radius: 5px;
  padding: 0.7rem 1.4rem;
  border: none;
}

.login-page-signup p {
  color: black;
  display: inline-block;
}

.signUpPage {
  text-align: center;
  background-color: rgb(196, 192, 192);
  height: 450px;
  width: 400px;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 10px 3px red;
}
.form-signup {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  row-gap: 20px;
  justify-items: center;
  height: fit-content;
}
.form-signup input {
  padding: 0.7rem 1.4rem;
  font-size: 18px;
  border-radius: 5px;
  border: 0;
  text-align: initial;
}
.form-signup h1 {
  color: black;
  font-size: 35px;
  margin: 20px 0px 0px 0px;
}
.form-signup h3 {
  color: black;
  margin-bottom: 10px;
  display: inline-block;
  width: 20rem;
  margin-bottom: 20px;
}

@media screen and (max-width: 420px) {
  .signUpPage {
    width: fit-content;
    height: fit-content;
  }

  .login-page {
    width: fit-content;
    height: fit-content;
  }
}

@media screen and (max-width: 340px) {
  .signUpPage {
    width: 240px;
  }

  .form-signup {
    width: 240px;
  }

  .form-signup h3 {
    width: 200px;
    margin-top: 0;
  }

  .form-signup input {
    padding: 0.7rem 1.4rem;
    font-size: 18px;
    width: 150px;
  }

  .login-page {
    width: 240px;
    align-content: center;
  }
  .form-login {
    width: 240px;
  }

  .login-page-signup {
    width: 200px;
  }

  .form-login input {
    font-size: 18px;
    border-radius: 5px;
    width: 150px;
  }
}

/*@media screen and (max-height: 650px) {
  .login-page {
    display: grid;
    height: 40%;
    width: 80%;
  }

  .form-login {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 20px;
    grid-template-areas:
      "login-text null"
      "username login"
      "password signup";
  }

  .form-login h1 {
    grid-area: login-text;
    text-align: center;
  }
  #username-login {
    grid-area: username;
  }
  #password-login {
    grid-area: password;
  }

  #btn-login {
    grid-area: login;
  }
  .login-page-signup {
    grid-area: signup;
  }
}*/
