.login-page{
  text-align: center;
  background-color:rgb(226, 226, 226);
  height: 500px;
  width: 400px;
  margin: 150px auto;
  border-radius: 2px ;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 10px 3px red;
}
.form-login{
  padding-top: 50px;
}
.form-login h1{
  color: black;
  margin-bottom: 40px;
}
.button-login-and-signup{
  padding: 0.7rem 6.7rem;
  background-color: #f63232;
  color: white;
  border: 0;
  border-radius: 2px ;
  cursor: pointer;
  margin-top: 10px;
  font-size: 18px;
}

.form-login input{
  padding: 0.7rem 1.4rem;
  font-size: 18px;
  border-radius: 5px;
  border:0 ;
  text-align:initial;

}

#redirect-to-sign-up-page-button{
  padding: 0.3rem 0.7rem;
  

}
.login-page-signup{
  margin-top: 90px;
}

.login-page-signup p{
  color: black;
  display: inline-block;
}

.signUpPage{
  text-align: center;
  background-color:rgb(226, 226, 226);
  height: 500px;
  width: 400px;
  margin: 150px auto;
  border-radius: 2px ;
  font-family:Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 10px 3px red;
}
.form-signup{
  padding-top: 10px;
}
.form-signup input{
  padding: 0.7rem 1.4rem;
  font-size: 18px;
  border-radius: 5px;
  border:0 ;
  text-align:initial;

}
.form-signup h1{
  color: black;
  margin-bottom: 30px;
  font-size: 35px;
}
.form-signup h3{
  color: black;
  margin-bottom: 10px;
  display: inline-block;
  width: 20rem;
  margin-bottom: 20px;
}
#signUpButton{
  padding: 0.7rem 2rem;

} 