main .movie-img {
  max-height: 240px;
  max-width: 180px;
  min-height: 240px;
  min-width: 180px;
}

main .movie-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  width: 100%;
}

.movie-text h3 {
  font-weight: 400;
  margin: 0;
}

main .movie-text-container {
  word-wrap: break-word;
}

main .btn-movie-page {
  margin-top: 10px;
  height: 30px;
  width: 150px;
  margin-top: auto;
}
main .btn-movie-page:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(199, 39, 39);
  cursor: pointer;
}

main .movie-box {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.801);
  height: fit-content;
}

main .movie-grid {
  display: grid;
  column-gap: 15px;
  row-gap: 15px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  margin-top: 30px;
  min-height: 100%;
  width: 100%;
}

.btn-movie-booking {
  cursor: pointer;
}

.btn-movie-booking:hover {
  color: rgb(255, 27, 27);
}

@media screen and (max-width: 1200px) {
  .movie-box {
    height: fit-content;
  }

  main .movie-grid {
    grid-template-rows: auto auto auto;
  }
  main .movie-img {
    max-height: 230px;
    max-width: 160px;
    min-height: 230px;
    min-width: 160px;
    align-self: center;
  }

  main .movie-text {
    font-size: 15px;
    padding: 10px;
  }

  main .movie-text h1 {
    font-size: 20px;
  }
  main .movie-text h3 {
    font-size: 13px;
  }

  main .btn-movie-page {
    height: 23px;
    width: 100px;
    padding-bottom: 3px;
    font-size: 15px;
  }
}

@media screen and (max-width: 900px) {
  main .movie-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
    margin-top: 60px;
  }

  main .movie-text {
    width: 100%;
  }

  main .movie-text h1 {
    font-size: 25px;
  }
  main .movie-text h3 {
    font-size: 18px;
    font-style: italic;
  }

  main .movie-img {
    max-height: 180px;
    max-width: 140px;
  }

  main .btn-movie-page {
    margin-top: 35px;
    height: 23px;
    width: 100px;
    padding-bottom: 3px;
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  main .movie-text h1 {
    font-size: 22px;
  }
  main .movie-text h3 {
    font-size: 15px;
    font-style: italic;
  }
}

@media screen and (max-width: 500px) {
  main .movie-box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  main .movie-img {
    max-height: 180px;
    max-width: 140px;
    min-height: 180px;
    min-width: 140px;
    align-self: center;
  }

  main .movie-text h1 {
    font-size: 20px;
  }
  main .movie-text h3 {
    font-size: 13px;
    font-style: italic;
  }
}
