.shows {
  margin: auto;
}
.arrows {
  text-align: center;
  justify-self: center;
}

.arrow {
  height: 90px;
  cursor: pointer;
}

.shows {
  margin: 12px;
}

.btn-book-show {
  margin: 10px;
  width: 150px;
  font-size: 80%;
}

.btn-book-show:hover {
  cursor: pointer;
  background-color: rgb(121, 119, 119);
  transform: scale(1.1);
}
.btn-book-show :disabled {
  margin: 10px;
  width: 150px;
  font-size: 80%;
  color: black;
}

.unsold-seats {
  font-size: 70%;
}

.show-page .filter-menu {
  padding: 1rem;
  background-color: rgb(14, 12, 12);
  width: 25rem;
  border: 2px solid rgba(255, 255, 255, 0.37);
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-page .booking-shows {
  margin: 0 0 auto 0;
}

.show-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1px;
  padding-bottom: 40px;
  background-position-y: 50%;
  background-position-x: center;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
}

.booking-shows p,
.booking-shows h4 {
  line-height: 7px;
  margin-top: 15px;
}

.booking-shows h1 {
  color: whitesmoke;
  text-decoration: none;
  margin-bottom: 0;
}

.booking-shows {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  row-gap: 20px;
  background-color: rgb(14, 12, 12);
  width: 25rem;
  height: fit-content;
}

.arrow {
  width: auto;
  margin: 10px;
  height: 90px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .show-page {
    background-image: none;
  }

  .booking-shows {
    width: 290px;
  }

  .show-page .filter-menu {
    width: 290px;
  }
}

@media screen and (max-width: 400px) {
  .show-page {
    background-image: none;
  }

  .booking-shows {
    width: 290px;
  }

  .show-page .filter-menu {
    width: 290px;
  }

  #filter-button {
    font-size: 14px;
  }
}
