.shows {
  margin: auto;
}
.arrows {
  text-align: center;
  justify-self: center;
}

.shows {
  margin: 12px;
}

.btn-book-show {
  margin: 10px;
  width: 140px;
  font-size: 16px;
}

.btn-book-show:hover {
  cursor: pointer;
  background-color: rgb(121, 119, 119);
  transform: scale(1.1);
}
.btn-book-show :disabled {
  margin: 10px;
  width: 150px;
  font-size: 80%;
  color: black;
}

#month-filter {
  background-color: white;
}

.show-page .filter-menu {
  padding: 1rem;
  background-color: rgb(14, 12, 12);
  border-radius: 10px 10px 0 0;
  border: 2px solid rgba(255, 255, 255, 0.37);
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-page .booking-shows {
  margin: 0 0 3px 0;
  max-height: fit-content;
}

.show-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  min-height: 100%;
}

.booking-shows p {
  line-height: 5px;
  margin-top: 15px;
  font-size: 18px;
}

.unsold-seats p {
  font-size: 15px;
}

.booking-shows h4 {
  font-size: 22px;
  margin: 5px 0 5px 0;
}

.booking-shows h1 {
  color: whitesmoke;
  text-decoration: underline;
  margin-bottom: 0;
}

.booking-shows {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  justify-self: center;
  row-gap: 10px;
  background-color: rgba(0, 0, 0, 0.507);
  border-radius: 0 0 10px 10px;
  width: 20rem;
  font-size: 20px;
  padding-top: 10px;
  height: fit-content;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.37);
}

.arrow {
  width: auto;
  margin: 10px;
  height: 40px;
  cursor: pointer;
}

.arrow:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 1400px) and (min-height: 1140px) {
  .show-page {
    padding-top: 4%;
    padding-bottom: 5%;
  }
}

@media screen and (max-width: 600px) {
  .show-page {
    background-image: none;
  }

  .booking-shows {
    width: 290px;
  }

  .show-page .filter-menu {
    width: 290px;
  }
}

@media screen and (max-width: 400px) {
  .show-page {
    background-image: none;
  }

  .booking-shows {
    width: 290px;
  }

  .show-page .filter-menu {
    width: 290px;
  }

  #filter-button {
    font-size: 14px;
  }
}
