@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Noto+Sans+JP:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("moviesPage.css");
@import url("movieInfo.css");
@import url("detailedMoviePage.css");
@import url("saloons.css");
@import url("loginAndSignUp.css");
@import url("header.css");
@import url("shows.css");

p {
  font-weight: 100;
}

strong {
  font-weight: 700;
  min-height: 100vh;
}

html {
  box-sizing: border-box;
  grid-template-columns: 1fr;
  font-family: "Noto Sans JP", sans-serif;
  color: whitesmoke;
}

p,
h1,
h2,
h3,
h4 {
  color: whitesmoke;
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(14, 12, 12);
  margin: 0;
  min-height: 100vh;
}

main {
  background: rgb(14, 12, 12);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 70px;
  width: 80%;
  flex-grow: 1;
}

main img {
  width: 100%;
}

footer {
  margin-top: 5px;
  display: flex;
  background: black;
  color: white;
  text-align: center;
  justify-content: center;
  position: relative;
}
