@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Noto+Sans+JP:wght@700&display=swap");
@import url("movies.css");
@import url("saloons.css");
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

html {
  box-sizing: border-box;
  grid-template-columns: 1fr;
  font-family: "Noto Sans JP", sans-serif;
  color: rgb(0, 0, 0);
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(0, 0, 0);
  margin: 0;
  min-height: 100vh;
}

.tool-bar {
  position: fixed;
  background: rgb(0, 0, 0);
  border: 3px solid red;
  font-family: "Noto Sans JP", sans-serif;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  width: calc(100% - 6px); /*Fråga om detta*/
  z-index: 5;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "bar1 img bar2";
  align-items: center;
}

.bar1 {
  padding-left: 40px;
  display: flex;
  grid-area: bar1;
  align-items: baseline;
  margin: 0;
}

.bar1 ul {
  display: flex;
}

.bar2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  grid-area: img;
  margin: 0;
}

.bar2 h2 {
  margin-left: 0 0 0 0;
  text-shadow: 2px 2px white;
  color: red;
}

.bar3 li {
  display: flex;
  grid-area: bar3;
  float: right;
}

#img {
  width: 43px;
  height: 43px;
}

#logo-text {
  display: flex;
  width: 260px;
}

#logo-text h2 {
  font-family: "Fascinate";
  letter-spacing: 2px;
  font-size: 32px;
  margin: 0;
}

.tool-bar nav li {
  display: flex;
  text-align: start;
  justify-content: start;
}

.tool-bar nav a {
  display: flex;
  justify-content: center;
  width: 100px;
  color: white;
  text-decoration: none;
}

.tool-bar nav a:hover {
  color: rgb(214, 206, 206);
}

main {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 70px;
  width: 80%;
  flex-grow: 1;
}

main img {
  width: 100%;
}

footer {
  margin-top: 5px;
  display: flex;
  background: black;
  color: white;
  text-align: center;
  justify-content: center;
  position: relative;
}

.navbar-toggler {
  font-size: 20px;
  margin-right: 10px;
  border: none;
  background: none;
  color: red;
}
.navbar-toggler:hover {
  color: rgb(253, 253, 253);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(0, 0, 0);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover #navbar-toggler {
  background-color: #fb0202;
}
